@import '@styles/fonts';
@import 'antd/dist/antd.css';


:root {
    --font-primary: 'Inter', sans-serif;
    --font-secondary: 'Roboto', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-primary);
    font-weight: 500;
    line-height: 130%;
    margin: 0;
}

h1 {
    font-weight: 700;
    font-size: 38px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-weight: 400;
    font-size: 16px;
}

button {
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    border: none;
    background-color: inherit;
    cursor: pointer;
}

.container {
    display: block;
    max-width: 1440px;
    // padding: 0 15px;
    margin: 0 auto;
}

.ant-layout {
    background: none;
    min-height: 100vh;
}

.main-container > .ant-layout {
    background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #fffdfd 100%), url('./assets/images/main-back.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.ant-layout-sider {
    position: fixed;
    z-index: 10;
    background-color: #fff;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    height: 100vh;
}
  
.ant-layout-header {
    height: auto;
    line-height: 130%;
    background: #f0f5ff;
    padding: 16px 24px;
}

.ant-layout-footer {
    padding: 0;
    background: none;
}

h1.ant-typography {
    margin-bottom: 0;
}

.ant-card-head {
    min-height: 45px;
}

.ant-card-head-title {
    padding: 12px 0;
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #262626;
    text-align: center;
    white-space: unset;
    @media screen and (min-width: 768px) {
        text-align: left;
    }
    @media screen and (min-width: 992px) {
        text-align: center;
    }
}

.ant-card:has(.ant-card-head) .ant-card-body {
    padding: 12px 0;
    text-align: center;
}

.ant-card-meta-detail {
    text-align: center;
}

.ant-card-meta-title {
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #2F54EB;
}
